body {
	margin: 0px;
	max-width: 100%;
}

p, h3 {
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 16px;
}

h1, h2, h4 {
	font-family: 'Open Sans';
	font-size: 40px;
}

h1 {
	padding-top: 60px;
	text-align: center;
}

h3 {
	padding: 0 30px 0;
	font-size: 20px;
}

.headerRow {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}

#logo {
	margin-right: auto;
	margin-left: 178px;
}

.mainNav {
	font-size: 15px;
}

nav.secNav {
	margin-left: auto;
	margin-right: 178px;
}

.snItem {
	padding: 0 5px;
}

.row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	margin-top: 75px;
}

/*header styling*/
header {
	text-align: center;
	background: black;
	color: white;
	margin: auto;
	position: relative;
	padding: 30px;
	overflow: hidden;
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 20px;
	line-height: 27px;
	text-decoration: none;
}



p {
	margin: 0px;
	text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	display: inline;
	padding: 0px 15px;
}

/* unvisited link */
header a:link, a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
header a:hover {
  color: #b38b6d;
  text-decoration: none;
}

header a.current {
	text-decoration: underline;
	text-underline-position: under;
}

/*end header styling*/


/*homepage styling*/
img#splash {
	max-width: 100%;
	width: 100%;
}

div.splash {
	overflow: hidden;
}

div#new {
	vertical-align: center;
	margin: 0px 178px 0px;
	
}

div#story {
	margin: 0px 178px 0px;	
}

div#bestsellers {
	background-color: #F9F9F9;
	padding: 0px;
	padding-left: 178px;
	padding-right: 178px;
}

.newpImg {
	max-width: 285px;
	width: 100%;
	padding: 5px 30px 0;
}

.leftImg {
	max-width: 450px;
	padding: 60px 60px 0 10px;
}

.rtxt {
	max-width: 500px;
	padding: 80px 60px 60px 0;
}

.ltxt {
	max-width: 500px;
	padding: 80px 0 60px 60px;
}

.rightImg {
	max-width: 450px;
	padding: 60px;
}

button {
	padding: 12px 55px;
	background-color: black;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border: none;
	font-size: 16px;
	margin-top: 90px;
	float: right;
	border-radius: 5px;
}

button:hover {
	background-color: #b38b6d;
	color: black;
}

/*------------------------------------
Products page css*/

.sort {
	display: inline-block;
}

.filterBox {
	max-width: 150px;
	background-color: #e1e1e1;
	color: black;
	padding: 20px 20px 35px;
	margin: 75px 25px 0px ;
	border-radius: 5px;
}

.pImg {
	max-width: 200px;
	width: 100%;
	padding: 0px 20px;
}

.pInfo {
	font-size: 15px;
	margin-top: auto;
	padding: 0px 20px;
}

.pRow {
	margin-top: 75px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin-left: auto;
}

/*filter box style */
div.filterBox input {
	font-family: 'Open Sans';
}

form {
	font-family: 'Open Sans';
}

div.filterBox h2 {
	margin: 0px;
	font-size: 30px;
}

div.filterBox p {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 18px;
}

select {
	background-color: white;
}

div.productList a {
	color: black;
	text-decoration: none;
}

.allPs {
	margin-bottom: 75px;
}


/*------------------------------------
dog harness product details page*/

h4 {
	color: lightgrey;
	margin: 0px 0px 15px;
}

.mainInfo {
	font-family: 'Open Sans';
}

.mainInfo h2 {
	margin-top: 0;
}

.mainInfo input{
	vertical-align: middle;
	display: inline-block !important;
	position: relative;
	float: left;
}

i.star {
	color: grey;
}

li.star {
	padding: 0;
}

div.size, div.qnty, div.color {
	padding-top: 10px;
}

.fbtRow {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	margin-top: 75px;
}

img.fbtImg {
	max-width: 175px;
	width: 100%;
}

h3.productDetails {
	padding-left: 178px;
}

div.fbtRow h3 {
	padding: 0;
	font-size: 16px;
	margin: 5px 0;
}



/*review section of product details page*/

ul.revStars {
	display: inline-block;
}

div.userRevs {
	margin: 0 178px 50px;
	border-style: solid;
	border-color: lightgrey;
	border-radius: 5px;
}

.revContainer h3, .starContainer p {
	float: left;
	margin: 0px;
}

.revContainer {
	margin-top: 100px;
}

.rev, .user, .item, .itemCheckoutPreview {
	padding: 0px !important;
}

div.rev h3, div.item h3 {
	padding: 0px;
	margin: 5px 0 5px 0;
}

div.user h3, .itemCheckoutPreview h3 {
	padding-left: 0px;
	margin: 0px;
	text-align: center;
}

button#rev {
	margin-top: 20px;
	margin-bottom: 75px;
}

div.rev p {
	max-height: 200px;
}

div.user img.leftImg, .itemCheckoutPreview img.leftImg {
	padding: 0 40px 0px 0px;
}

.leftpImg {
	max-width: 75px;
	padding: 14px;
	display: flex;
	flex-direction: column;
	filter: opacity(90%);
}

.lpitop{
	border: 4px solid black;
	padding: 0;
	margin: 60px 10px 10px 10px;
}

div.arrow {
	margin: 0 0 30px 0;
}

i.md-48 {
	font-size: 48px;
}

/*------------------------------------
shopping cart page*/

a.active {
	color: #b38b6d;
}

.title {
	margin-left: 178px;
}

.subtotalr {
	float: right;
}

.subtotal {
	margin-top: 0px;
	margin-bottom: 100px;
	margin-right: 178px;
}

.allCartItems {
	width: 800px;
	margin-right: 300px !important;
	margin-left: 178px !important;
	margin-top: 0px;
}

.scQnty {
	margin-left: 250px;
}

.scQnty h3 {
	margin: 0px;
}

div.item p {
	width: 200px;
}

.checkoutButton {
	margin-top: 0px;
}

#secCheckoutButton {
	margin-right: 178px;
}

h4.st {
	font-size: 25px;
}

.rtxt {
	max-width: 500px;
	padding: 0px 60px 60px 0;
}

.shoppingCartTxt {
	font-size: 12px;
}

#rightShoppingCartTxt {
	text-align: right;

}

.shoppingCartPrice {
	padding: 0;
}